* {
    box-sizing: border-box;
}
.html {

    font-size: 62.5%;
}
a{
    cursor: pointer;
}

:root {
    --firstColor: #dedddf;
    --secondColor: #212529;
    --thirdColor: #d8e2dc;
}

/* font-family: 'JetBrains Mono', monospace;
font-family: 'Mr Dafoe', cursive; */
/*header*/
.header-main {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--secondColor);
}
.header-logo{
    text-transform: capitalize;
    font-family: 'JetBrains', monospace;
    width: fit-content;
    height: 100%;
    color: var(--firstColor);
    display: flex;

}
.header-nav{
    background-color: blue;
    width: fit-content;
    height: 100%;

}
.header-nav ul{
    margin-left: 32px;
    color: white;
    list-style: none;
    
}
.header-nav ul li{
    margin-right: 8px;
    color: white;
    display: inline;
    float: left;
}
.header-nav ul li a{
    
    color: white;
    padding: 0px 10px;
}

.header-sm{
    width: fit-content;
    height: 100%;

}