* {
    box-sizing: border-box;
}
.html {
   
    font-size: 62.5%;
}
a{
    cursor: pointer;
}
body{
    box-sizing: border-box;
    
    /* font-family: 'JetBrains Mono', monospace; */
    font-family: 'Poppins', sans-serif;
    background-color: var(--backgroundColor);
    height: 100vh;
}
:root {
    --firstColor: #dedddf;
    --secondColor: #212529;
    --thirdColor: #d8e2dc;
    --backgroundColor:#E7EAF1;
    --primaryColor: white;
    --secondaryColor: black;
}

/* font-family: 'JetBrains Mono', monospace;
font-family: 'Mr Dafoe', cursive; */
/*header*/
.header-main {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--secondColor);
}
.header-logo{
    width: 60px;
    text-transform: capitalize;
    font-family: 'JetBrains', monospace;
    width: fit-content;
    height: 100%;
    color: var(--firstColor);
    display: flex;
    

}
.header-logo p{
    padding-left: 60px;
    align-self: center;
}
.header-nav{
    
    
    width: fit-content;
    height: 100%;

}
.header-nav ul{
    padding-top: 5px;
    margin-left: 32px;
    
    list-style: none;
    
}
.header-nav ul li{
    margin-right: 8px;

    display: inline;
    float: left;
}
.header-nav ul li a{
    
  color: var(--firstColor);
  text-decoration: none;
    padding: 0px 10px;
}

.header-sm{
    margin-right: 32px;
  
    align-items: center;
    display: flex;
    color: var(--firstColor);
    width: fit-content;
    height: 100%;
    justify-content: space-between;
    width: 60px;
}
.header-nav ul li:hover{
    background-color: gray;
    padding-bottom: 5px;
    border-bottom: solid var(--firstColor) 0.1rem;
}
/*main*/
main{
    height: fit-content;
}
/*footer*/
footer {
 
}

/*homepage*/

.home {
    height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    background-image: url('assets/home.png');
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-size: cover;

}
.home div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--firstColor);
}
/*button*/
.button {
 border: 1px solid white;
background: none;
padding: 0.5rem 1rem;
font-size:1rem;
font-family: 'JetBrains', monospace;
margin: 10px;
cursor: pointer;
color: white;
transition: 0.6s;

}
.button:hover{
    background-color: var(--firstColor);
    color: black;
}

/*staff*/
.staff-button-container{
    width: 80%;
 display: flex;
 justify-content: space-between;
}
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }
.staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}
tr:hover{
    transition: 8s;
    background-color: red;
}
.staff table {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: fit-content;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}
.face {
    height: 3rem;
    width: 3rem;
    background-image: url('assets/harrypotter.jpg');
    background-size: cover;
    border: solid var(--secondColor) 1px;
    border-radius: 50%;
}
.staff tr{
    align-items: center;
    border-radius: 5px;
    padding: 0.6rem;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.8s;
}
.staff tr:hover {
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}

/*statistics page*/
.statistics {
    display: flex;
    flex-direction: column;

    margin: 3rem;
}
.calendar{
    border-radius: 5px;
    padding: 1rem;
    align-self: self-end;
    background-color: var(--secondColor);
    color: white;
}
.statistics-container{
    /* padding: 0 5rem ; */
    display: flex;
    
    justify-content: space-between;
    
}
/*about*/
.about{
    height: fit-content;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;


}
.about div {
        padding: 0 5rem;
}
/*primary button*/
 .primary-button {
    height: 2.5rem;
    padding: 0.5rem;
 background-color: var(--secondaryColor);
 border-radius: 30px;
 color: var(--primaryColor);
 font-size: 0.7rem;
 margin-bottom: 30px;
 letter-spacing: 0;
 
 
}
.secondary-button  {
    height: 2.5rem; 
    display: flex ;
    justify-content: center !important;

    border: 1px solid lightgray !important ; 
    display: flex;
    width: 100%;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 20px 0;
    
    
    
 background-color: var(--primaryColor);
 border-radius: 20px;
 color: var(--secondaryColor);
}
.secondary-button p {
    padding-left: 5px;
}

/*Login page*/
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}
.login-container {
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 95%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    

  
    background-color: var(--primaryColor);
    display: flex;
    
    
    overflow: hidden;
    border-radius: 20px;
}
.login-container h1{
    font-size: x-large;
}
.login-image{
    background-image: url('assets/login.jpg');
    width: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.login-form button {
    font-size: 0.7rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}
.login-form div{
    width: 0.5rem;
}
.login-form-1 input{
    /* display: flex; */
border-radius: 30px;
width: 100%;
margin: 10px 0;
padding: 0.5rem;
border: 1px solid lightgray;
letter-spacing: 2px;
padding-left: 1rem;
}
.login-form label {
    font-size: small;
}
.login-form {
    width: 35%;
    padding-left: 2rem;
    height: 100%;
    
}
.login-form a{
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
}
.login-form-1 a {
    align-self: flex-end;
}
.login-form-1{
    /* height: 10%;
    font-weight: 100 !important;
    display: flex;
    flex-direction: column; */
    padding-top: 35px;
}



